
<div>
    <mat-toolbar color="primary" class="navbar mat-elevation-z5">
        <div class="title">
            <span>
                <img class="logo-image" src="assets/images/money-logo.png">
            </span>
            <span class="title-text"> Controle de Gastos </span>
        </div>
        <div class="menu">
            <span class="menu-item" [routerLink]="['/']">Listagem de Gastos</span>
            <span class="menu-item" [routerLink]="['/gasto/new']">Cadastro de Gasto</span>
        </div>
    </mat-toolbar>
</div>