<div class="mat-elevation-z6">
    <table mat-table [dataSource]="gastos">
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

      <ng-container matColumnDef="nomePessoa">
        <th mat-header-cell *matHeaderCellDef class="table-header">Nome da pessoa</th>
        <td mat-cell *matCellDef="let row">{{row.nomePessoa}}</td>
      </ng-container>
  
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef class="table-header">Descrição do gasto</th>
        <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
      </ng-container>

      <ng-container matColumnDef="dataHora">
        <th mat-header-cell *matHeaderCellDef class="table-header">Data/Hora do gasto</th>
        <td mat-cell *matCellDef="let row">{{row.dataHora | date : 'short' }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef class="table-header">Valor do gasto</th>
        <td mat-cell *matCellDef="let row">{{row.valor | currency: 'BRL'}}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef class="table-header">Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/gasto/view/{{row.id}}">
              <i class="material-icons view"> description </i>
            </a>
            <a (click)="excluir(row.id)">
              <i class="material-icons view"> delete_forever </i>
            </a>
        </td>
      </ng-container>
    </table>

    <button color="primary" mat-raised-button [routerLink]="['/gasto/new']">
      Novo Gasto
    </button>
  
  </div>
  